<div class="well">
  <h3>Editing Space Vehicle</h3>
  
  <%= render 'form' %>
  
  <%= link_to 'Show', @space_vehicle, :class=> 'btn btn-default btn-sm' %> 
  <%= link_to 'Back', space_vehicles_path, :class=> 'btn btn-default btn-sm' %>
</div>